@{
    ViewData["Title"] = "Мои контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    Очир Дармаев<br />
    <a href="tel:79833398893">+7(983) 339 88 93</a><br>
    <strong>почта:</strong> <a href="mailto:ochirdarmaev@gmail.com">ochirdarmaev@gmail.com</a><br />
</address>

